#heading
    {
      position: absolute;
      top: 130px;
      left: 35%;
    }     
	
	
	.title{
      font-size:20.5pt;
      font-family: Arial;
    }
	
	.user_name, .email_address, .passd
    {
      border : 1px;
      border-radius: 3px;
      border-style: solid;
      border-color: #eee;
      font-size: 15pt;
      font-family: Calibri;
      padding-left: 10px;
    }
	 #tailor
    {
      color: #66757f;
      font-family: arial;
      font-size: 11pt;
    }
    .button
    {
      background-color: #1da1f2;
      cursor: pointer;
      border : 1px;
      border-style: solid;
      border-radius: 7px;
    }
    #terms
    {
      font-family: arial;
      color: grey;
      font-size: 9pt;

    }
    #advanced
    {
      font-family: arial;
      font-size: 10.5pt;
    }
	 a:link
    {
      color: #1da1f2;
      text-decoration: none;
    }
    a:hover
    {
        color: #1da1f2;
      text-decoration: underline;
    } 
    a:visited
    {
      color: #1da1f2;
      text-decoration: none;
}
	 .language
         {
        font-size:9.5pt;
      font-family: Arial;
      color: white;
      position: fixed;
      top: 1px;
      left: 72%;
         }

      .space
      {
        font-size: 8px;
      }   
     span:hover
        {
         color: #1da1f2;
         cursor: pointer;
         text-decoration: underline;
        }      
    .strip 
       {
        position: fixed;
        top:0px;
        left:0px;
       }
    .white_logo
         {
         position: fixed;
         top:15px;
         left:50%;
         }